[Desktop Entry]
Version=1.0
Name=KixKan Media Player
GenericName=Media Player
Comment=View your media
Exec=kixkanmediaplayer --fullscreen --tv
Icon=kixkanmediaplayer
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=TV;DesktopF;DesktopW;

[Desktop Action TV]
Name=TV
Exec=kixkanmediaplayer --fullscreen --tv

[Desktop Action DesktopF]
Name=Desktop [Fullscreen]
Exec=kixkanmediaplayer --fullscreen --desktop

[Desktop Action DesktopW]
Name=Desktop [Windowed]
Exec=kixkanmediaplayer --windowed --desktop
